.*.sw*
Bytemark.app
/bytemark
/cmd/bytemark/bytemark
bytemark.exe
*.coverage
*.coverage.html
/doc/*.html
/doc/*.ps
/docs/
/lib/version.go
/lib/output/generated_types_test.go
*.nupkg
*.json
*.coverprofile
ports/chocolatey/package
ports/chocolatey/VERSION
ports/chocolatey/choco.exe
