*.DS_Store
*.coverage
*.coverage.html
*.coverprofile
*.json
*.nupkg
.*.sw*

.codeclimate.yml

/bytemark
/cmd/bytemark/bytemark

/doc/*.html
/doc/*.ps
/docs/

/lib/output/generated_types_test.go
/lib/version.go

Bytemark.app
bytemark.exe

ports/chocolatey/VERSION
ports/chocolatey/choco.exe
ports/chocolatey/package

!.gometalinter.json
