.*.sw*
Bytemark.app
/bytemark
/cmd/bytemark/bytemark
bytemark.exe
*.coverage
*.coverage.html
/doc/*.html
/doc/*.ps
/docs/
/lib/version.go
*.nupkg
*.json
ports/chocolatey/package
ports/chocolatey/VERSION
ports/chocolatey/choco.exe
